* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#b2s {
    width: 100%;
    height: 100%;
}

.header_container .header_services {
    height: 35px;
    background-color: rgb(247, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container .header_services img {
    height: 21px;
}

.header_container .logo_header{
    display: flex;
    align-items: center;
    height:60px;
    background-color:#f50294; 
}

.header_container .logo_header img {
    height: 35px;
    margin: 20px;
}

.header_container .logo_header .menu {
    background-color: black;
}



